@import "tailwindcss";

/* Smooth scrolling for in-page anchors */
html {
  scroll-behavior: smooth;
}

/* Prevent anchored sections from being hidden behind the fixed navbar */
[id] {
  scroll-margin-top: 4rem; /* navbar height ~3.5rem, add a bit of buffer */
}

@theme {
  --color-dark-purple : rgb(41,41,85);
  --color-light-purple : rgb(86, 68, 196);
  --color-font-color : #F1F1F1;
  --color-openai-dark-blue : #0E315C;
  --color-darker-blue : #09213F;
  --color-openai-purple : #C5BFEE;
  --color-theo-white : #F1F1F1;
  
  --color-paradise-blue : #56dcfc;
  --color-paradise-blue-dark : #56dbfccb;

    --font-main: "Poppins", sans-serif;
    --font-domine: "Domine", serif;
  }
  
  @font-face {
    font-family: 'Domine';
    src: url('/fonts/domine/Domine-VariableFont_wght.ttf') format('truetype');
}


body {
  font-family: var(--font-main);
  background-color: var(--color-openai-dark-blue);
  color: var(--color-font-color);
}


.a-underline {
  position: relative;
}

.a-underline::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: -3px;
  width: 0%;
  height: 2px;
  background-color: var(--color-openai-purple);
  transition: width 0.3s;
}

.a-underline:hover::after {
  width: 70%;
}

.simple-parallax-container {
  height: 100% !important;
}